$gray_10: #faf4f4;
$gray_20: #f3ecef;
$gray_30: #f8f8f8;
$gray_50: #dad3d6;
$gray_60: #b1b0b1;
$gray_70: #9d9d9d;
$gray_80: #787878;
$gray_90: #656565;

$red_10: #ed6a5e;

$blue_10: #2955b3;
$blue_20: #5897f8;

$darkBlue_10: #00063b;

$white: white;
$white_90per: rgba(255, 255, 255, 0.9);
$white_80per: rgba(255, 255, 255, 0.8);
$white_70per: rgba(255, 255, 255, 0.7);
$white_60per: rgba(255, 255, 255, 0.6);
$white_50per: rgba(255, 255, 255, 0.5);
$white_40per: rgba(255, 255, 255, 0.4);
$white_30per: rgba(255, 255, 255, 0.3);
$white_20per: rgba(255, 255, 255, 0.2);
$white_10per: rgba(255, 255, 255, 0.1);

$black: black;
$black_90per: rgba(0, 0, 0, 0.9);
$black_80per: rgba(0, 0, 0, 0.8);
$black_70per: rgba(0, 0, 0, 0.7);
$black_60per: rgba(0, 0, 0, 0.6);
$black_50per: rgba(0, 0, 0, 0.5);
$black_40per: rgba(0, 0, 0, 0.4);
$black_30per: rgba(0, 0, 0, 0.3);
$black_20per: rgba(0, 0, 0, 0.2);
$black_10per: rgba(0, 0, 0, 0.1);

$transparent: transparent;
