$gray_10: rgb(250, 244, 244);
$gray_20: rgb(243, 236, 239);
$gray_50: rgb(218, 211, 214);
$red_10: rgb(237, 106, 94);
$darkBlue_10: rgb(0, 6, 59);
$white: white;
$white_90per: rgba(255, 255, 255, 0.9);
$white_80per: rgba(255, 255, 255, 0.8);
$white_70per: rgba(255, 255, 255, 0.7);
$white_60per: rgba(255, 255, 255, 0.6);
$white_50per: rgba(255, 255, 255, 0.5);
$white_40per: rgba(255, 255, 255, 0.4);
$white_30per: rgba(255, 255, 255, 0.3);
$white_20per: rgba(255, 255, 255, 0.2);
$white_10per: rgba(255, 255, 255, 0.1);
$black: black;
$black_90per: rgba(0, 0, 0, 0.9);
$black_80per: rgba(0, 0, 0, 0.8);
$black_70per: rgba(0, 0, 0, 0.7);
$black_60per: rgba(0, 0, 0, 0.6);
$black_50per: rgba(0, 0, 0, 0.5);
$black_40per: rgba(0, 0, 0, 0.4);
$black_30per: rgba(0, 0, 0, 0.3);
$black_20per: rgba(0, 0, 0, 0.2);
$black_10per: rgba(0, 0, 0, 0.1);
