.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;

	.title {
		margin: 3px;
	}

	.controlWrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		.controlBtn {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			border-radius: 5px;
			font-size: 12px;

			&:hover {
				background-color: $white_20per;
			}
		}
	}
}

.row {
	display: flex;
}

.body {
	margin: 10px 0;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3px;
	font-size: 13px;
	width: 22px;
	height: 22px;
}

@mixin withBorderItem($color) {
	border-radius: 5px;
	box-shadow: 0 0 0 1.5px $color;
}

.date {
	&.cursor {
		cursor: pointer;
	}

	&.today {
		@include withBorderItem($blue_20);
	}

	&.selected,
	&:hover {
		@include withBorderItem($white_70per);
	}
}
