ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.item__wrapper {
	margin: 10px;
}

.year {
	font-size: 1.4em;
	display: flex;
	align-items: center;

	&__icon {
		width: 15px;
		height: 15px;
		border: 1px solid $gray_50per;
		border-radius: 100%;
		margin-right: 10px;

		&.clicked {
			background-color: $gray_70per;
		}
	}
}

.histories {
	transform: scaleY(1);
	overflow: hidden;
	max-height: 0;
	transition: max-height 1s cubic-bezier(0.1, 1, 0.1, 1);
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 10px;

	&.opened {
		max-height: 100vh;
		transition: max-height 1s ease;
	}

	&__item--title {
		font-size: 1.3em;
		font-weight: 500;
		margin-bottom: 5px;
	}

	&__item--date {
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		img {
			width: 15px;
			height: 15px;
			margin-right: 4px;
		}
	}

	&__item--content {
		font-size: 1.1em;
	}
}
