.wrapper {
	background-color: transparent;
	padding: 20px 0;
}

.profile {
	&__img__wrapper {
		margin: auto;
		width: 50vw;
		height: 50vw;
		max-width: 300px;
		max-height: 300px;
		border-radius: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		margin: 20px 0 40px 0;
		width: 100%;
		text-align: center;
		font-size: 1.8em;
		font-weight: 600;
	}

	&__contents {
		&__icon {
			width: 50px;
			height: 50px;
			margin: 0 10px 0 20px;
		}

		&__text {
			font-size: 1.3em;
		}

		.link {
			color: $blue_20;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		padding: 10px 0;
	}
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}
