main {
	width: 100%;
	height: 100%;
}

.background-img {
	position: absolute;
	top: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: $background;
	-webkit-touch-callout: none;
	user-select: none;
}
