.header {
	padding: 10px;
	&__title {
		font-size: 16px;
		font-weight: bold;
	}
}

.body {
	height: 220px;
	overflow: auto;
}

.itemsWrapper {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.item {
	display: flex;
	flex-direction: column;
	width: 150px;
	margin-bottom: 15px;
	align-items: center;
	cursor: pointer;

	&__img {
		border-radius: 6px;
		width: 100%;
		height: 90px;
		object-fit: cover;

		&.selected {
			width: calc(100% - 8px);
			height: calc(90px - 8px);
			border: 4px solid $blue_10;
		}
	}

	&__title {
		margin-top: 5px;
		font-size: 13px;
		font-weight: 600;
	}
}
