.container {
	position: absolute;
	width: var(--width);
	height: var(--height);
	border-radius: 8px;
	overflow: hidden;
	left: calc(50% - var(--width) / 2);
	top: calc(20%);
	border: 1px solid $gray_50;
	z-index: var(--zIndex);

	&.visibility {
		visibility: hidden;
	}
}

.body {
	width: 100%;
	height: calc(100% - 30px);
	border-radius: inherit;
}

.header {
	width: 100%;
	height: 30px;
	background-color: $gray_10;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid $gray_50;
	-webkit-touch-callout: none;
	user-select: none;

	&.absoluteHeader {
		z-index: $absoluteHeader;
		position: absolute;
		top: 0;
		background-color: $transparent;
		border: none;
	}
}

.circle {
	border-radius: 100%;
	width: 13px;
	height: 13px;
	display: flex;
	justify-content: center;
	background: $red_10;
	cursor: pointer;
	position: absolute;
	left: 15px;

	.circle--icon {
		display: none;
	}

	.circle--icon__close {
		top: 50%;
		transform: translateY(-60%);
	}

	&:hover {
		.circle--icon {
			display: unset;
			font-size: 10px;
			position: relative;
		}
	}
}

.setter {
	position: absolute;
	z-index: $absoluteHeader + 1;
	background-color: transparent;
}

.topSetter {
	top: 0;
	width: 100%;
	height: 4px;
	cursor: n-resize;
}

.bottomSetter {
	bottom: 0;
	width: 100%;
	height: 4px;
	cursor: s-resize;
}

.rightSetter {
	right: 0;
	width: 4px;
	height: 100%;
	cursor: e-resize;
}

.leftSetter {
	left: 0;
	width: 4px;
	height: 100%;
	cursor: w-resize;
}

.rbSetter {
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	cursor: se-resize;
}

.lbSetter {
	left: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	cursor: sw-resize;
}

.rtSetter {
	right: 0;
	top: 0;
	width: 10px;
	height: 10px;
	cursor: ne-resize;
}

.ltSetter {
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	cursor: nw-resize;
}
